.button-comment-container {
    display: flex;
    flex-direction: row; /* Ändrar till radlayout */
    align-items: center; /* Justerar vertikal position */
    gap: 20px; /* Lägger lite mellanrum mellan elementen */
  }
  
  .vote {
    margin-bottom: 20px;
  }